Python Assignment

### Integer

In [ ]:
integer_example = 10
print("Integer: {integer_example}, Type: {type(integer_example)}")

Integer: {integer_example}, Type: {type(integer_example)}

### Float

In [ ]:
float_example = 10.5
print("Float: {float_example}, Type: {type(float_example)}")

Float: {float_example}, Type: {type(float_example)}

### String

In [ ]:
string_example = "Hello, World!"
print("String: {string_example}, Type: {type(string_example)}")

String: {string_example}, Type: {type(string_example)}

### Boolean

In [ ]:
boolean_true_example = True
boolean_false_example = False
print("Boolean (True): {boolean_true_example}, Type: {type(boolean_true_example)}")
print("Boolean (False): {boolean_false_example}, Type: {type(boolean_false_example)}")

Boolean (True): {boolean_true_example}, Type: {type(boolean_true_example)}
Boolean (False): {boolean_false_example}, Type: {type(boolean_false_example)}

Input/Output conversation

In [ ]:
print ("Hello Mahjabeen, your age is 30 years old")

Hello Mahjabeen, your age is 30 years old

Lists, Indexing and Slicing

In [ ]:
list=["Mango", "Orange", "Grapes", "Dragon-Fruit", "Kiwi"]

In [ ]:
print(list["Mango", "Orange", "Grapes", "Dragon-Fruit", "Kiwi"])

list['Mango', 'Orange', 'Grapes', 'Dragon-Fruit', 'Kiwi']

In [ ]:
print(f"First fruit: {list[0]}")
print(f"Second fruit: {list[1]}")
print(f"Last fruit: {list[-1]}")

First fruit: Mango
Second fruit: Orange
Last fruit: Kiwi

In [ ]:
print(list)

['Mango', 'Orange', 'Grapes', 'Dragon-Fruit', 'Kiwi']

In [ ]:
print(list[0], list[1], list[-1])

Mango Orange Kiwi

In [ ]:
print(list[1:4])

['Orange', 'Grapes', 'Dragon-Fruit']

In [ ]:
num_list=[10,20,30,40]

In [ ]:
print(num_list )
num_list[1]=25
print(num_list)

[10, 25, 30, 40]
[10, 25, 30, 40]

Conditional statements

In [ ]:
user_number = input("Please enter your number: ")
print(f"You entered: {user_number}")

In [ ]:
user_input = input("Please enter a number: ")
try:
    number = float(user_input)
    if number > 0:
        print(f"{number} is a positive number.")
    elif number < 0:
        print(f"{number} is a negative number.")
    else:
        print(f"{number} is zero.")
except ValueError:
    print("Invalid input. Please enter a valid number.")

Please enter a number: 25
25.0 is a positive number.

Tuples

In [ ]:
colour_tuple = ("Red", "Green", "Blue", "Purple", "Magenta")
print(colour_tuple)

# Accessing the second element (index 1)
print(colour_tuple[1])

# Accessing the fourth element (index 3)
print(colour_tuple[3])

{('Red', 'Green', 'Blue', 'Purple', 'Magenta')}
{'Green'}
{'Purple'}

Dictionary, Key-Value Pairs and Assesing data \

In [ ]:
dictionary

### Dictionaries

In [ ]:

my_dictionary = {"name": "Alice", "age": 25, "city": "NewYork"}
print(f"My dictionary: {my_dictionary}")
print(f"Type of my_dictionary: {type(my_dictionary)}")

My dictionary: {'name': 'Alice', 'age': 25, 'city': 'NewYork'}
Type of my_dictionary: <class 'dict'>

Loops
Nested Structures, For Loops, Dictionaries

In [ ]:
student_dictionary = {'Ali':'A','Sara':'B+','Ahmed':'A-'}

In [ ]:
for student, grade in student_dictionary.items():
    print(f"{student}, {grade}")

Ali, A
Sara, B+
Ahmed, A-

Filtering Even Number

In [ ]:
input=(1, 2,3,4,5,6)
print(input)

In [ ]:
print(input)
print("Even numbers from the list:")
for num in input:
    if num % 2 == 0:
        print(num)

(1, 2, 3, 4, 5, 6)
Even numbers from the list:
2
4
6

Maxium Finder without Built-in Function

In [ ]:
a_list=(1,2,3,4,5,6,7,8,9,10)

In [ ]:
a_list = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Initialize 'max_num' with the first element of the list
max_num = a_list[0]

# Iterate through the rest of the list starting from the second element
for num in a_list[1:]:
    if num > max_num:
        max_num = num

print(f"The list is: {a_list}")
print(f"The largest number in the list is: {max_num}")

The list is: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The largest number in the list is: 10